.countries {
  display: flex;
}

.countries--second {
  padding: 0.5em;
  flex-direction: row;
  justify-content: space-around;
}

/* Add your own CSS code below */

.countries--third {
  justify-content: end;
  flex-direction: column;
}

.countries--fourth {
  justify-content: space-around;
  flex-direction: column-reverse;
}
